body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #efdae4;
}

h1 {
    font-family: 'Indie Flower', cursive;
    font-size: 5rem;
    color: #e06161;
    text-align: center;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.1);
}

h3 {
    font-family: 'Indie Flower', cursive;
    font-size: 1rem;
    color: #e06161;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.dicee-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    font-family: 'Indie Flower', cursive;
    color: #e06161;
    text-align: center;
    margin: 0;
}


