
<div class = "post">
    <form action="/submit" method="POST">
        <input type="text" name="text" placeholder="Write your post here...">
        <input type="submit" value="Post">
    </form>
</div>

<div>

    

</div>



